body{
overflow:hidden;
background:#222;
font-family:Arial;
}

canvas{
display:block;
background:#65b84a;
}

#hud{
position:absolute;
top:10px;
left:10px;
color:white;
font-size:22px;
display:flex;
gap:25px;
z-index:10;
}

#shop{
position:absolute;
right:20px;
top:20px;
background:#000d;
color:white;
padding:15px;
display:none;
}